.about-container {
    color: black;
   padding: 20px;
}

.about-dark {
    background-color: black;
    color: white;
}

.about-container p {
    margin-top: 30px;
    line-height: 1.7;
}

img {
    width: 100%;
}